[submodule "mini_imagenet/prototypical-networks"]
	path = mini_imagenet/prototypical_networks
	url = https://github.com/TalSchuster/prototypical-networks
[submodule "fewrel/FewRel"]
	path = fewrel/FewRel
	url = git@github.com:TalSchuster/FewRel.git
